VITE_SUPABASE_PROJECT_ID="hvfqtgywgtikekqnmxpx"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2ZnF0Z3l3Z3Rpa2VrcW5teHB4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTI0MDcsImV4cCI6MjA4OTQ4ODQwN30.V-N-Bqo7wDIQdAKHhviyYQrl9duYVnXCkgpWOjg7JZY"
VITE_SUPABASE_URL="https://hvfqtgywgtikekqnmxpx.supabase.co"
